* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 1vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 2fr 4fr;
  background-color: #393f4d;
}

.logo {
  text-align: left;
  padding-left: 2px;
  margin-left: 0px;
}

.menu ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.menu ul,
.menu li {
  font-size: 16px;
  display: grid;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / 4;
  display: grid;
  gap: 50px;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
  gap: 15px;
}

.nav {
  display: grid;
  grid-column: 2/5;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-column: 2 / 5;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / 5;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;

}